@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-slate-100 {
  background-color: #00000010;
  font-weight: bold;
}

.bg-rose-200 {
  background-color: #ff012310;
  color: red;
  font-weight: bold;
}

.find {
  background-color: #22922210;
  color: green;
  font-weight: bold;
}
